.container_form_input
{
    padding-left: 15px;
    min-width: 500px;
    min-height: 60px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #657A87;

    color:  black;
    font-family: "Istok Web";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}