.container_form_btn {
    width: 175px;
    height: 60px;
    margin-top: 45px;
    padding: 10px 12px 10px 13px;
    border-radius: 15px;
    background: #184048;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  
    text-align: center;
    font-family: "Istok Web";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    cursor: pointer;
  }